bitrix-app/node_modules
bitrix-app/coverage
bitrix-app/build
bitrix-app/.DS_Store
bitrix-app/.env.local
bitrix-app/.env.development.local
bitrix-app/.env.test.local
bitrix-app/.env.production.local
bitrix-app/npm-debug.log*
bitrix-app/yarn-debug.log*
bitrix-app/yarn-error.log*

bitrix-app-install/node_modules
bitrix-app-install/coverage
bitrix-app-install/build
bitrix-app-install/.DS_Store
bitrix-app-install/.env.local
bitrix-app-install/.env.development.local
bitrix-app-install/.env.test.local
bitrix-app-install/.env.production.local
bitrix-app-install/npm-debug.log*
bitrix-app-install/yarn-debug.log*
bitrix-app-install/yarn-error.log*